.checkout {
  padding: 2rem 0;

  h1 {
    margin-bottom: 1rem;
  }

  h1,
  h4 {
    text-align: center;
  }
}

.checkoutSuccess {
  display: flex;

  flex-direction: column;

  align-items: center;

  a {
    margin-top: 1rem;
  }
}
